<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Billy Graham</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/home" class="home-link">Home</a>
      </div>
      <div>
        <a href="/work">Work</a>
        <a href="about">About</a>
      </div>
    </nav>

    <h1>Who was Billy Graham?</h1>
    <h3>
        <img src="/images/billy.png"/>
      <p>
        Billy Graham was a pastor, evangelist, preacher and one of the greatest
        revivalists who have passed through history. Certainly one of the pastors who
        marked the history of the Church. Known for his straightforward sermons and
        accessible gospels, Billy preached to a mass audience of
        nearly 2.5 million people in live audiences in 185 countries and
        territories on six continents. In addition, he was an advisor to several
        US presidents such as John F. Kennedy, Richard
        Nixon, Ronald Reagan and Bill Clinton, even being called “the
        Pastor of America” by past presidents. It was an example of conduct,
        submission and complete dedication to the Gospel. In your own words:
        “Some Christians have learned very little about what it is to have a
        daily devotional. Some time ago, a policeman asked me what it was
        the secret to having a victorious life. I told you there is no formula
        magic that can articulate it. But if there was a word that could
        to describe the victorious life, I would say it is submission. The second
        word I would use is devotion. Nothing can replace the devotional life
        daily with Christ. Get down on your knees and pray until you and God come together
        become close friends”’ – Billy Graham.
      </p>
    </h3>
  </body>
</html>
