<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stlylesheet/home.css" />
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/home" class="home-link">Home</a>
      </div>
      <div>
        <a href="/work">Wok</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <h1 class="title">Who Was Billy Graham?</h1>
  </body>
</html>
