<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
    <link rel="stylesheet" href="/stlylesheet/work.css" />
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/home" class="home-link">Home</a>
      </div>
      <div>
        <a href="/work">Work</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <h2>Works and Photo Gallery</h2>
    <h3>Major works created by Billy</h3>

    <h3>1 - Billy Graham, an autobiography</h3>
    <p>
      The apostle Paul had said that man should be like an open letter in the
      eyes of God. The letter, or rather the book of Billy Graham's life, is an
      example of content. Billy Graham's biography became public when he was
      already 80 years old, when the minister was already retiring. His
      trajectory full of memorable stories and prestigious friendships is
      reported by himself, with all his orator's mental vigor. Many photographs
      chronicle Billy's successful saga, from the beginnings of preaching to the
      point that he became a presidential adviser, a position he held for years.
      Participation in the National Crusades in gymnasiums and stadiums, their
      effect on the expansion of the Baptist church, is all in this book. It is
      also remarkable to see how he dedicated himself to the cause and where he
      drew so much determination. Billy, as a servant of God, felt chosen early
      on, with this role to fulfill. When he started, he never stopped: from
      door-to-door salesman, he visited five continents, preaching in various
      regions and countries. He was present in riots and social upheavals such
      as Paris and Woodstock. One of the most emotional days of Billy Graham's
      journey is also remembered, when he made the crusade through New York,
      being broadcast to two million faithful in 21 states of America. His
      relationship with figures such as Eisenhower and Bill Clinton is reported,
      as well as dedicating space in the book to give importance to anonymous
      people who have touched him, such as close relatives and even death row
      prisoners, to whom he can alleviate some of the martyrdom. It is not for
      nothing that this apostle who lived 99 years and dedicated his life to a
      cause is so remembered.
    </p>
    <img src="/images/book1.jpg" />

    <h3>2. Peace with God</h3>
    <p>
      The words of comfort in this book are organized to lead you to look at
      life as if you were sailing on the calm sea after the storm. They are
      words of comfort and affection that help to understand the meaning of all
      the back-and-forth of life that pulsates within us. The sooner we become
      aware of this ocean of doubts and changes, and learn to balance with it,
      the less suffering, hurt and anger. Happiness is accessible to everyone in
      the form of understanding. If you want to call something mundane the name
      of happiness, then you will have to face the danger of not getting it – or
      losing it. “Peace with God” is a book to trust in God and in yourself and
      to accept life in its full exercise.
    </p>
    <img src="/images/book2.jpg" />

    <h3>3. The reason for my hope: resilience and perseverance to never give up</h3>
    <p>
      The author will show how he deals with the issue of resilience in his
      life, also citing other examples that serve to motivate the faithful. See
      that "faithful" is not necessarily the follower of some pastor or
      covenant, but the person faithful to himself, to what he believes. Being
      faithful to your plan and not doubting it is necessary in order not to
      feed the ghost of giving up. Giving up doesn't come overnight. It is the
      result of an accumulation of moments of weakness and we must be alert to
      everything that throws us back into laziness, comfort, inertia and
      pessimism. An important book for the countless cases of anxiety and
      depression that are plaguing contemporary society.
    </p>
    <img src="/images/book3.jpg"/>
  </body>
</html>
